@media (max-width: 991px) {
    .navbar-nav {
        background: #f8f9fa; /* Warna background dropdown */
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar-nav .nav-item {
        text-align: center;
        padding: 8px 0;
    }

    .navbar-toggler {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
}

.btn-custom {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #6c757d;
    background-color: transparent;
    color: #6c757d;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-custom:hover {
    background-color: #0133CC1A;
    border: 1px solid #6c757d;
    color: #6c757d;
}

.btn-custom.active {
    background-color: #0133CC1A;
    color: #6c757d;
    border-color: #6c757d;
}

.text-smalles span {
    font-size: 14px; 
    line-height: 1.1; 
}
